<ion-header [translucent]="true">
  <ion-toolbar class="booktoc-header">
    <div class="logo-container">
      <ion-button routerLink="/home" class="back-button" fill="clear">
        <ion-text color="light" class="back-text">Booktoc</ion-text>
      </ion-button>
    </div>
    <ion-buttons slot="primary" class="back-button">
      <ion-button fill="clear" routerLink="/login">
        <p>Login</p>
      </ion-button>
        <ion-button fill="clear" routerLink="/profile">
          <p>Perfil</p>
        </ion-button>
        <ion-button fill="clear" routerLink="/search">
          <p>Buscar</p>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
