<ion-header [translucent]="true">
  <ion-toolbar class="header-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="home-button" fill="solid" routerLink="/home"><ion-text>BookToc</ion-text></ion-button>
        </ion-col>
        <div class="menu-buttons">
          <ion-col><ion-button class="button" routerLink="/login">
            Login
          </ion-button></ion-col>
          <ion-col><ion-button class="button" routerLink="/profile">
            Perfil
          </ion-button></ion-col>
          <ion-col><ion-button class="button" routerLink="/search">
            Buscar
          </ion-button></ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>