<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input [(ngModel)]="query" placeholder="Buscar por título"></ion-input>

  <ion-item>
    <ion-input [(ngModel)]="filters.author" placeholder="Autor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="filters.genre" placeholder="Género"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="filters.year" type="number" placeholder="Año"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="onSearch()">Buscar</ion-button>

  <ion-list *ngIf="books.length > 0">
<ion-item *ngFor="let book of books" [routerLink]="['/book-details', book.id]">
  <ion-label>
    <h2>{{ book.title }}</h2>
    <p>{{ book.author }} - {{ book.genre }} ({{ book.year }})</p>
  </ion-label>
</ion-item>
  </ion-list>
</ion-content>
