<ion-content [fullscreen]="true">
  <div class="profile-container">
    <ion-grid class="profile-grid">
      <ion-row class="ion-flex-wrap ion-justify-content-center responsive-column">
        <!-- Profile Column -->
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-left">

          <ion-avatar>
            <img alt="Silhouette" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <h2>User Description</h2>
          <ion-card>
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Description Column -->
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
