<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{ user.name }}</h2>
  <p>Email: {{ user.email }}</p>
  <p>Región: {{ user.region }}</p>
  <p>Comuna: {{ user.commune }}</p>
  <p>Género preferido: {{ user.preferred_genre }}</p>
  <p>Autores favoritos: {{ user.favorite_authors }}</p>

  <ion-item>
    <ion-label position="stacked">Descripción del perfil</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="updateDescription()">
    Actualizar descripción
  </ion-button>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Preferencias</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Géneros preferidos (coma)</ion-label>
      <ion-input [(ngModel)]="preferredGenresInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Autores favoritos (coma)</ion-label>
      <ion-input [(ngModel)]="favoriteAuthorsInput"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="updatePreferences()">Guardar preferencias</ion-button>
  </ion-card-content>
</ion-card>


<!-- Libros favoritos -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Libros favoritos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="book-grid">
      <div class="book-card" *ngFor="let libro of favoritos">
        <img [src]="libro.cover_url || 'assets/placeholder.jpg'" alt="Portada" />
        <p>{{ libro.title }}</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>


<!-- Libros leídos -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Libros leídos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="book-grid">
      <div class="book-card" *ngFor="let libro of leidos">
        <img [src]="libro.cover_url || 'assets/placeholder.jpg'" alt="Portada" />
        <p>{{ libro.title }}</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
