.register-page {
  --background: #7a855e;
  padding: 16px;
  
  .top-text {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 40px;

    h1 {
      color: #2c2c2c;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 8px;
    }

    p {
      color: #2c2c2c;
      font-size: 1.1rem;
      margin: 0;
    }
  }

  .form-container {
    width: 50%;
    background: #e6eed9;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

    ion-row {
      margin-bottom: 10px;
    }
    
 

    .input-item {
      --background: white;
      --border-radius: 10px;
      --padding-start: 15px;
      --padding-end: 15px;
      margin: 8px 0;


      ion-label {
        color: black;
        font-size: 0.9rem;
        transform: translateY(12px);
      }

      ion-input, ion-select {
        --padding-top: 15px;
        --padding-bottom: 8px;
        color: #2c3e50;
        font-size: 0.95rem;
      }

      ion-select::part(icon) {
        color: #7f8c8d;
      }
    }

    .terms-item {
      --background: transparent;
      --padding-start: 0;
      margin-top: 15px;

      ion-checkbox {
        --background: #2c2c2c;
        --border-radius: 10px;
        --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        --color: white;
        height: 20px;
        width: 20px;
        margin-top: 1.5rem;
        --border-color: #2c2c2c;

      }

      ion-label {
        color: black;
        font-size: 0.9rem;
        white-space: normal;
      }
    }
  }

  .button-container {
    
    padding: 20px;

    .register-button {
      --background: #2c2c2c;
      --border-radius: 10px;
      --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      --color: white;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      transition: transform 0.2s ease;

      &:active {
        transform: scale(0.98);
      }
    }
  }


  // Ajustes responsivos
  @media (max-width: 768px) {
    .form-container {
      ion-col {
        flex: 0 0 100% !important;
        width: 100% !important;
      }
      
      ion-row {
        flex-wrap: wrap;
      }
    }
    
    .terms-item {
      margin-top: 20px !important;
    }
  }
}