ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-grid {
  width: 100%;
  align-items: center;
  margin-top: 10%;
}

ion-col {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 500px; // Tamaño máximo del formulario
  padding: 20px;
  background-color: #fff; // Fondo blanco para el formulario
  border-radius: 8px; // Bordes redondeados
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra suave
}
