<ion-content [fullscreen]="true">
  
  <div class="searchbar">
    <ion-searchbar placeholder="Título, autor o género..."></ion-searchbar>
  </div>

  <section class="top-section">
    <div class="left-section">
      <h1>Premio Nobel de Literatura</h1>
      <img class="top-img" src="assets/imgs/han1.jpg">
      <h2>Han Kang</h2>
      <p class="quote">“Por sus íntimas prosas poéticas que enfrentan traumas históricos y captan la fragilidad de la vida humana.”</p>
      <ion-button class="buttons" size="small">Ver más</ion-button>
    </div>
    <div>
      <ion-grid class="right-section">
        <ion-row class="rows">
          <ion-col><img src="assets/imgs/han1.jpg" alt="Libro 1"></ion-col>
          <ion-col><img src="assets/imgs/han1.jpg" alt="Libro 1"></ion-col>
          <ion-col><img src="assets/imgs/han1.jpg" alt="Libro 1"></ion-col>
        </ion-row>
        <ion-row class="rows">
          <ion-col><img src="assets/imgs/han1.jpg" alt="Libro 1"></ion-col>
          <ion-col><img src="assets/imgs/han1.jpg" alt="Libro 1"></ion-col>
          <ion-col><img src="assets/imgs/han1.jpg" alt="Libro 1"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="for-you">
    <div class="section-header">
      <h2>Para ti</h2>
      <ion-button class="buttons" size="small">Más libros</ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="4"><img src="assets/imgs/1984.jpg" /><p>1984</p></ion-col>
        <ion-col size="4"><img src="assets/imgs/poppy-war.jpg" /><p>La guerra de las amapolas</p></ion-col>
        <ion-col size="4"><img src="assets/imgs/pride.jpg" /><p>Orgullo y prejuicio</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"><img src="assets/imgs/pizarnik.jpg" /><p>Poesía completa</p></ion-col>
        <ion-col size="4"><img src="assets/imgs/idiot.jpg" /><p>El idiota</p></ion-col>
        <ion-col size="4"><img src="assets/imgs/hunger.jpg" /><p>Una cierta hambre</p></ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
