<ion-content class="home-content" scroll-y="true">

<!-- Sección reorganizada -->
<div class="han-kang-container">
  <div class="han-kang-image">
    <img src="assets/img/han.png" alt="Han Kang" />
  </div>

  <div class="han-kang-content">
    <h1>Han Kang</h1>
    <p><em>“Por sus íntimas prosas poéticas que enfrentan traumas históricos y captan la fragilidad de la vida humana.”</em></p>

    <div class="han-kang-books">
      <img src="assets/img/libro1.png" alt="Libro 1" >
      <img src="assets/img/libro2.png" alt="Libro 2" >
      <img src="assets/img/libro3.png" alt="Libro 3" >
      <img src="assets/img/libro4.png" alt="Libro 4" >
    </div>

    <button class="ver-mas" (click)="goToSearch()">Ver más</button>
  </div>
</div>

  <!-- Sección Para ti -->
  <div class="section">
    <div class="section-header">
      <h2>Para ti</h2>
      <button class="more-btn" (click)="goToSearch()">Más libros</button>
    </div>
    <div class="book-grid">
      <div *ngFor="let book of forYouBooks" class="book-card" (click)="goToDetail(book.id)">
        <img [src]="book.cover_url" alt="{{ book.title }}">
        <p>{{ book.title }}</p>
      </div>
    </div>
  </div>

</ion-content>
