@import "src/theme/variables";

.searchbar {
  padding: 1rem;
  ion-searchbar {
    --background: var(--surface-secondary);
    --color: var(--text-primary);
    border-radius: 12px;
    margin-top: 4rem;
  }
}

.top-section {
  background: url('/assets/img/bg01.png') no-repeat center center;
  background-size: cover;
  padding: 1.5rem;
  display: grid;
  color: var(--text-primary);

  .left-section {
    width: 60%;
    grid-area: text;
    h1 {
      font-size: 2rem;
      margin: 0.1rem 0 1rem;
      font-weight: bold;
    }
    h2 {
      font-size: 1.5rem;
      font-style: italic;
    }
    .quote {
      margin: 0.5rem 0 1rem;
      font-size: 0.95rem;
      max-width: 85%;
      background-color: var(--surface-primary);
      border-radius: var(--app-border-radius);
      padding: 0.5rem;
    }
  }

  .top-image {
    grid-area: image;
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .book-covers {
    grid-area: books;
    display: flex;
    justify-content: space-around;
    img {
      height: 80px;
      border-radius: var(--app-border-radius);
    }
  }
}

.buttons {
  --border-radius: 50%;
  --color: var(--surface-primary);
  --background: var(--text-primary);
}

.right-section {
  text-align: center;
  margin-top: 30%;
}

.for-you {
  padding: 1.5rem 1rem;
  background-color: var(--surface-primary);
  border-top: 1px solid var(--input-border);

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.3rem;
    }
  }

  ion-col {
    text-align: center;
    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: var(--app-border-radius);
      box-shadow: 0 2px 5px rgba(var(--color-neutral-100-rgb), 0.1);
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
